.header {
  border-bottom: 1px solid var(--subtitle);
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 95;
}

.header .social {
  display: none;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 70px;
}

@media screen and (min-width: 1024px) {
	.header .social {
    display: flex;
  }
}