.nav {
	z-index: 10000;
}

.nav__list {
	margin-right: 15px;
}

.nav__menu {
	background-color: var(--page-bg);
	position: fixed;
	inset-block: 0;
	left: -100%;
	width: 100%;
	padding: 60px 30px;
	transition: all .5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.show-menu {
	left: 0;
}

.nav__link {
	display: flex;
	align-items: center;
	column-gap: 24px;
	border-bottom: 1px solid gray;
	padding-block: 14px;
}

.nav__icon,
.nav__name {
	color: var(--text-color);
	font-size: 24px;
}

.nav__name {
	font-weight: 500;
}

.active-nav .nav__icon,
.active-nav .nav__name {
	color: var(--purple);
}

.nav__menu .social {
	display: flex;
	margin-top: 50px;
	gap: 2rem;
}

.nav__menu .social__item {
	width: 2rem;
	height: 2rem;
}

.nav__menu .social__item a svg {
	color: var(--text-color);
}

.nav__toggle {
	position: fixed;
	top: 12px;
	right: 10px;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	padding: 12px 10px;
}

.nav__toggle span {
	display: block;
	width: 20px;
	height: 2px;
	border-radius: 2px;
	background-color: var(--subtitle);
	margin-bottom: 5px;
}

.animate-toggle span:first-child {
	transform: rotate(45deg) translate(6px, 4px);
}

.animate-toggle span:nth-child(2) {
	display: none;
}

.animate-toggle span:last-child {
	transform: rotate(-45deg) translate(1px, 1px);
}

@media screen and (max-width: 620px) {
	.nav__toggle {
		top: 0;
	}
}

@media screen and (min-width: 1024px) {
	.nav__menu {
		all: unset;
	}

	.nav__menu .social {
		display: none;
	}

	.nav__toggle {
		display: none;
	}

	.nav {
		position: fixed;
		inset-block: 0;
		right: 0;
		display: flex;
		align-items: center;
	}

	.nav__item {
		margin-block: 20px;
	}

	.nav__link {
		padding: 0;
		border-bottom: none;
		background-color: gray;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		position: relative;
	}

	.nav__link:hover,
	.active-nav {
		background-color: var(--purple);
	}

	.nav__link:hover .nav__icon,
	.active-nav .nav__icon {
		color: var(--nav-text);
	}

	.nav__link:hover .nav__name {
		right: 23px;
		color: var(--nav-text);
		opacity: 1;
		visibility: visible;
		border-radius: 30px 0 0 30px;
	}

	.nav__icon {
		color: var(--white);
		font-size: 20px;
		margin-inline: auto;
	}

	.nav__name {
		position: absolute;
		top: 0;
		right: 0;
		background-color: var(--purple);
		height: 100%;
		line-height: 40px;
		padding-inline: 20px 20px;
		border-radius: 30px;
		font-size: 18px;
		color: var(--nav-text);
		z-index: -1;
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease;
	}

}