.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, .7);
  padding: 15px;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  
}

.modal-window__content {
  background-color: var(--white);
  max-width: 500px;
  height: 70vh;
  width: 100%;
  padding: 40px 30px;
  border-radius: 0 0 10px 50px;
  margin: 70px auto;
  overflow-y: auto;
}

.modal-window__img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 40px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.modal-window__title {
  text-align: center;
  color: var(--purple);
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 24px;
}

.project-details__desc {
  color: var(--black);
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.3;
}

.project-details__desc span {
  font-weight: 400;
	font-size: 1.25rem;
}

.modal-window__btn-container {
  display: flex;
  justify-content: space-between;
}

.modal-window__btn--demo {
  background-color: rgb(0, 0, 0);
  color: rgb(252, 246, 244);
  text-decoration: none;
  padding: 0.5rem calc(2rem + 2vw);
  border-radius: 0px 0px 10px 50px;
  font-size: calc(1em + 0.5vw);
}

.modal-window__btn--code {
  color: var(--black);
  text-decoration: none;
  width: 40px;
  height: 40px;
}

.modal-window__btn--code svg {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px 0;
  border-radius: 10px 0;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0 10px;
  border-radius: 10px 0;
  background: var(--purple); 
}

@media (max-width: 620px) {
  .modal-window__content {
    padding: 20px 15px;
  }
  .modal-window__img {
    margin-bottom: 20px;
  }

  .project-details__desc {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .project-details__desc span {
    font-size: .8rem;
  }
}